:root {
  --first-color: #3ea7ad;
  --first-alpha-color: rgba(62, 166, 173, 0.5);
  --second-color: #415d6c;
  --second-alpha-color: rgba(65, 93, 108, 0.49);
  --third-color: #1876ab;
  --third-alpha-color: rgba(24, 118, 171, 0.56);
  --white-color: white;
  --gray-light-color: #c4cecc;
  --gray-color: #909090;
  --black-color: black;
  --link-color: #668ae7;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: Century Gothic, sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  background: var(--first-color);
  color: white;
}

.box1 {
  display: flex;
  flex-direction: row;
}

.AR .nombre {
  display: flex;
  justify-content: start;
  box-sizing: 1rem;
  flex-direction: column;
}

.a-box,
.r-box {
  background-color: var(--third-color);
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.mbrosig-box,
.icardo-box {
  padding: 1rem;
  padding-left: 0;
  text-align: start;
  line-height: 1.5rem;
}

.developer {
}

.box {
    padding: 2rem;
    color: var(--second-color);
  background: var(--second-color);
}

/* ******Menu****** */

.menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
  }
  
  .menu-btn svg {
    fill: var(--first-color);
  }
  
  .menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    justify-content: flex-end;  
  }
  
  .menu.is-active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
  }
  
  .menu a:hover {
    color: var(--first-alpha-color);
    background-color: var(--first-color);
  }
  
  @media screen and (min-width: 1024px) {
    .menu-btn {
      display: none;
    }
  
    .menu {
      position: static;
      width: auto;
      flex-direction: row;
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu a {
      padding: 0 1rem;
    }
  
    .menu a:last-child {
      padding-right: 0;
    }
  
    .menu a:hover {
      background-color: transparent;
      color: white;
    }
  }

  img {
      block-size: 7vw;
  }

  img:hover {
      transform: scale(1.5);
      transition: 0.2s;
  }